<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product Allocation Report</h1>
    
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>BuildingNo</th>
                <th>IssueQty</th>
                <th>ItemCode</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="productAllocationGroup : ${listProductAllocationGroup}">
                <td th:text="${productAllocationGroup.BuildingNo}">BuildingNo</td>
                <td th:text="${productAllocationGroup.IssueQty}">IssueQty</td>
                <td th:text="${productAllocationGroup.ItemCode}">ItemCode</td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>
