<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
<head th:replace="fragments/header :: header">
<!-- <div th:replace="fragments/header :: header">...</div> -->
</head>

<body>
    
     <!-- Navigator  -->
<div th:replace="fragments/menu :: navigator">...</div>
   <!-- Page Content -->
  <div class="container mt-5">


    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Healthcare Resources Management</h1>
      <p class="lead">Hello Guest</p>
      
    </header>
    
<div align="center">
  
    <a href="/healthmgmt/Products/productmasternew">Create New ProductMaster</a>
    <br/><br/>
    
    <!-- Jumbotron Header --><!-- Page Features -->
    <div class="row">
 		<h3 class="card-title ml-3">ProductMaster List</h3>
      <div class="col-lg-12 col-md-12 mb-4">
        <div class="card h-100">
         
          <div class="card-body">
    <table class="table">
       <thead class="thead-light">
            <tr>
                <th>Item ID</th>
                <th>Item Code</th>
                <th>Item Description</th>
                <th>Item Type</th>
                <th>Item Unit</th>
                <th>Balance Quantity</th>
                <th>Updated On</th>
                <th>Updated By</th>
              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="productmaster: ${listProducts}">
                <td th:text="${productmaster.itemId}">Item ID</td>
                <td th:text="${productmaster.itemCode}">Item Code</td>
                <td th:text="${productmaster.itemDesc}">Item Description</td>
                <td th:text="${productmaster.itemType}">Item Type</td>
                <td th:text="${productmaster.itemUnit}">Item Unit</td>
                <td th:text="${productmaster.balanceQty}">Balance Quantity</td>
                <td th:text="${productmaster.updateDate}">Updated On</td>
                <td th:text="${productmaster.updateBy}">Updated By</td>
                <td>
                
                     <a th:href="@{'editproductmaster/' + ${productmaster.itemId}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'deleteproductmaster/' + ${productmaster.itemId}}">Delete</a>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>   

</div>


</div>
          
        </div>
      </div>

      
      

      

    </div>
    <!-- /.row -->
 
 <!-- /.container -->
 <!-- Footer -->
<div th:replace="fragments/footer :: footer">...</div>

  <!-- Bootstrap core JavaScript -->

  <script type="text/javascript" th:src="@{/js/min.js}"></script>

  
</body>

</html>