
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
<title>Healthmgmt Web Application</title>
</head>

<body>
    
   
            
<div align="center">
<h1>Login </h1>
<div th:if="${errorMessage}">
  <p>Invalid credential</p>
</div>
<div th:unless="${errorMessage}">
  <p>Welcome Guest</p>
</div>
<br/><br/>
    
            
  <!--    <font color="red">${errorMessage}</font>-->
    <form action="#" th:action="@{'/healthmgmt/login'}" method="post">
       <div class="form-group">
						<label for="username">Username</label>: <input type="text"
							th:name="name" class="form-control"
							autofocus="autofocus" placeholder="Username" />
		</div>
       <div class="form-group">
						<label for="password">Password</label>: <input type="password"
							 th:name="password" class="form-control"
							placeholder="Password" />
					</div>
        
        <input type="submit" />
    </form>
</div>  
</body>

</html>