
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
<!-- <div th:replace="fragments/header :: header">...</div> -->
</head>

<body>
    
     <!-- Navigator  -->
<div th:replace="fragments/menu :: navigator">...</div>
   <!-- Page Content -->
  <div class="container mt-5">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Healthcare Resources Management </h1>
      <p class="lead">Hello Guest</p>
      
    </header>
    
    <!-- Page Features -->
    <div class="row">

      <div class="col-lg-12 col-md-12 mb-4">
        <div class="card h-100">
          
          <div class="card-body">
            <h4 class="card-title">Login</h4>
            
			  
            
   
            
  <!--    <font color="red">${errorMessage}</font>-->
    <form action="#" th:action="@{'/healthmgmt/login'}" method="post">
       <div class="form-group">
						<label for="username">Username</label>: <input type="text"
							th:name="name" class="form-control"
							autofocus="autofocus" placeholder="Username" />
		</div>
       <div class="form-group">
						<label for="password">Password</label>: <input type="password"
							 th:name="password" class="form-control"
							placeholder="Password" />
					</div>
        
         <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>
</div>  

     </div>
          
        </div>
      </div>

      
      

      

    </div>
    <!-- /.row -->
 
  <!-- /.container -->
 <!-- Footer -->
<div th:replace="fragments/footer :: footer">...</div>

  <!-- Bootstrap core JavaScript -->

  <script type="text/javascript" th:src="@{/js/min.js}"></script>

  
</body>

</html>