<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/header :: header">
<!-- <div th:replace="fragments/header :: header">...</div> -->
</head>

<body>
    
     <!-- Navigator  -->
<div th:replace="fragments/menu :: navigator">...</div>
   <!-- Page Content -->
  <div class="container mt-5">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Healthcare Resources Management</h1>
      <p class="lead">Hello Guest</p>
      
    </header>
    
    <!-- Page Features -->
    <div class="row">

      <div class="col-lg-12 col-md-12 mb-4">
        <div class="card h-100">
          
          <div class="card-body">
            <h4 class="card-title">Create New Product Master</h4>
            
			  
            
    <div align="center">
        
        <br />
        <form action="#" th:action="@{'saveproductmaster/'}" th:object="${productmaster}"
            method="post">
 
            <table class="table">
                <tr>
                    <td class="mt-2">Item Id:</td>
                    <td><input type="text" class="form-control" th:field="*{itemId}" /></td>
                </tr>
                <tr>
                    <td class="mt-2">Item Code:</td>
                    <td><input type="text" class="form-control" th:field="*{itemCode}" /></td>
                </tr>
                <tr>
                    <td class="mt-2">Item Descr:</td>
                    <td><input type="text" class="form-control" th:field="*{itemDesc}" /></td>
                </tr>
                <tr>
                    <td class="mt-2">Item Type:</td>
                    <td><input type="text" class="form-control" th:field="*{itemType}" /></td>
                </tr>   
                <tr>
                    <td class="mt-2">BalanceQty:</td>
                    <td><input type="text" class="form-control" th:field="*{balanceQty}" /></td>
                </tr>  
                
                <tr>
                    <td class="mt-2">ItemUnit:</td>
                    <td><input type="text" class="form-control" th:field="*{itemUnit}" /></td>
                </tr> 
                
                <tr>
                    <td class="mt-2">UpdateBy:</td>
                    <td><input type="text"  class="form-control" th:field="*{updateBy}" /></td>
                 </tr>       
                  <!--   <tr>
                    <td>UpdateDate:</td>
                    <td><input type="text" th:field="*{updateDate}" /></td>
                   </tr>  
                          -->           
                <tr>
                    <td colspan="2"><button class="btn btn-primary" type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>  

     </div>
          
        </div>
      </div>

      
      

      

    </div>
    <!-- /.row -->
 </div>
  <!-- /.container -->
 <!-- Footer -->
<div th:replace="fragments/footer :: footer">...</div>
  <!-- Bootstrap core JavaScript -->

  <script type="text/javascript" th:src="@{/js/min.js}"></script>

  
</body>

</html>